---
layout: post
title: Libre Software in Galicia
date: 2008-04-03 16:47:00.000000000 +02:00
categories:
- Free Software
tags: [free software]
status: publish
type: post

meta:
  blogger_blog: psanxiao.blogspot.com
  blogger_author: Pablo Sanxiaohttp://www.blogger.com/profile/05095211569441587201noreply@blogger.com
  blogger_permalink: /2008/04/libre-software-in-galicia.html
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p>This week has just published the new number of <a href="http://www.codigocero.com/">Codigocero</a>, a very important galician magazine about technology.  This number is special  for me because there is an interview to Roberto Vieito, one of my classmates in the <a href="http://www.igalia.com/events/master/">Master of  Free Software</a>.  Roberto  made a study about the situation of the Libre Software in Galicia which you can see <a href="https://forge.morfeo-project.org/plugins/scmsvn/viewcvs.php/trunk/rvieito/1st-Work/A_study_about_Libre_Software_in_Galician_companies.pdf?rev=109&amp;root=freeswmaster&amp;view=log">here</a> (in English).<br />You can also read the interview <a href="http://codigocero.com/spip.php?article4041">here</a> (in Galician).</p>
<p>Well done Roberto!</p>
