---
layout: post
title: My First Post
date: 2008-02-28 22:48:00.000000000 +01:00
categories: []
tags: []
status: draft
type: post
meta:
  blogger_blog: psanxiao.blogspot.com
  blogger_author: Pablo Sanxiaohttp://www.blogger.com/profile/05095211569441587201noreply@blogger.com
  blogger_permalink: /2008/02/my-first-post.html
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p>Hello World! Here I am</p>
<p>This is my first blog and of course my first post.</p>
<p>I am a newbie  in the free software world.  I am collaborating with<font><br /></font><a href="http://www.gnome.org/"><font></font></a></p>
