---
layout: post
title: Many reasons to use Libre Software
date: 2008-04-15 13:27:00.000000000 +02:00
categories:
- Free Software
tags: [free software]
status: publish
type: post

meta:
  blogger_blog: psanxiao.blogspot.com
  blogger_author: Pablo Sanxiaohttp://www.blogger.com/profile/05095211569441587201noreply@blogger.com
  blogger_permalink: /2008/04/many-reasons-to-use-libre-software.html
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p>These last days I had the opportunity to attend to many talks about Libre Software.</p>
<p>Last week, in the <a href="http://www.igalia.com/events/master/">Master of Free Software</a>, we had two exceptional guests: <a href="http://www.laflecha.net/site/acercade/Abella">Alberto Abella</a> and <a href="http://marcelo.softwarelivre.org/">Marcelo Branco</a>, you can see a summarize of their talks <a href="http://nosolosoftware.blogspot.com/">here</a>.<br />Besides, these days <a href="http://www.gpul.org/">gpul</a> is organizing its <a href="http://www.gpul.org/jornadas08/">VIII Xornadas Software Libre</a> and yesterday I attended to one talk that my classmate <a href="http://giseiel.blogspot.com/">Pedro</a> did about the process of making free <a href="http://www.dicoruna.es/webeiel">gisEIEL</a>, a proyect between <a href="http://www.dicoruna.es/">Deputación da Coruña</a> and <a href="http://www.udc.es/">University of Coruña.</a></p>
<p>These three talks have in common one idea: the advantage of using Libre Software, but from different points of view.</p>
<p>In the first one, Alberto Abella tell us with statics and data how Libre Software is better than Privative.</p>
<p>In the second one, Marcelo Branco tell us about his experience in Libre Software and public administrations. Marcelo is pure passion talking about Libre Software but his arguments are true. Countries should not use Privative Software in their public administrations because on the one hand, they are putting economics resources out of the country and they cannot be sure about the integraty of the public data because they cannot really what the privative software do without seeing the source code.</p>
<p>Finally, in the gisEIEL talk, the reasons are technical. They started the project using Privative Software but they realize that was depending on the one company exclusively. They could not make their own applications to access to the database. The data was storing in binary way so they could not get them without using the privative applications... so they make up their minds to migrate the project to Libre Software because it was better from technical point of view.</p>
<p>Therefore we can deduce that Libre Software is not only for 'frikis'. It is a real inovation in the computer world. The world is changing. Do not stay in the dark!</p>
