---
layout: post
title: Gtranslator in Wikipedia
date: 2008-03-15 12:46:00.000000000 +01:00
categories:
- Free Software
tags: [gtranslator, wikipedia]
status: publish
type: post

meta:
  blogger_blog: psanxiao.blogspot.com
  blogger_author: Pablo Sanxiaohttp://www.blogger.com/profile/05095211569441587201noreply@blogger.com
  blogger_permalink: /2008/03/gtranslator-in-wikipedia.html
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p>I have just added a new <a href="http://en.wikipedia.org/wiki/Gtranslator">article</a> for <a href="http://gtranslator.sourceforge.net/">gtranslator </a>in the <a href="http://www.wikipedia.org/">Wikipedia</a>.<br />Just a description for now but I'll try to do a complete article.<br />You can edit it and to contribute, of course ;-)</p>
<p>Be the wikipedia my friend!</p>
