---
layout: post
title: FOSDEM 2008
date: 2008-02-29 22:44:00.000000000 +01:00
categories:
- Free Software
tags: [fosdem]
status: publish
type: post
meta:
  blogger_blog: psanxiao.blogspot.com
  blogger_author: Pablo Sanxiaohttp://www.blogger.com/profile/05095211569441587201noreply@blogger.com
  blogger_permalink: /2008/02/fosdem-2008.html
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p>Last weekend I attended to my first <a href="http://www.fosdem.org/">FOSDEM</a>. It was a really good experience. Lots of people, lots of talks, lots of new ideas... in short time.</p>
<p>My classmates of the <a href="http://http//www.igalia.com/events/master/">Master on Free Software</a> and me presented a <a href="http://http//libresoft.es/Activities/Research_activities/downloads/fosdem2008/papers/quality.pdf">paper</a> about Quality and Libre Software. As first experience I think was great. People showed enough interested on it.</p>
<p>I attended to many talks about different projects (Mozilla, Gnome, OpenOffice, Embedded devices, Freedesktop...) all of them were very interesting.</p>
<p>I found specially interesting a talk about integrating the Web into GTK+ applications with <a href="http://live.gnome.org/WebKit">WebKit</a>. I didn't anything about this and really fascinated me. I'll try to learn more about WebKit and who knows, maybe it could be used in gtranslator someday.</p>
