---
layout: post
title: Testing Ubuntu 8.04
date: 2008-03-06 12:04:00.000000000 +01:00
categories:
- Free Software
tags: [ubuntu]
status: publish
type: post

meta:
  blogger_blog: psanxiao.blogspot.com
  blogger_author: Pablo Sanxiaohttp://www.blogger.com/profile/05095211569441587201noreply@blogger.com
  blogger_permalink: /2008/03/testing-ubuntu-804.html
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p>Yesterday I decided to upgrade my ubuntu to the new version 8.04. According to the <a href="https://wiki.ubuntu.com/HardyReleaseSchedule">release schedule</a> this is the Alpha5 so all new features are included. Despite being a alpha version I didn't have any problem during the upgrade process and everything seems to work fine. Now it is time to test it.<br />In order to do this, a new feature seems to be very useful, the automatic bugs report. As in Gnome, now when you get a crash in an application you can send  a bug report in automatic way to ubuntu.</p>
<p>Another interesting feature is PolicyKit. Now you can run administrative applications as normal user and click in unlock button if you need to do an action that require root privileges.</p>
<p><a href="http://bp1.blogger.com/_ZafO0yXebLk/R8_jQBZcFyI/AAAAAAAAAAM/wPWhrc_y3zI/s1600-h/screenshot1.png"><img style="margin: 0px auto 10px;text-align: center;cursor: pointer" src="assets/screenshot1.png" alt="" border="0" /></a><br />Besides, Ubuntu 8.04 Alpha 5 include a beta of the new Gnome 2.22 and a beta of Firefox 3.0 as default browser.<br />You can also install Firefox 2 from Add/Remove programs and to have both versions installed. This is very useful because for example, the Add-ons that I use normally don't work in Firefox 3.0 yet.</p>
