---
layout: post
title: Master on Free Software students talking about quality and Libre Software
date: 2008-05-29 11:15:00.000000000 +02:00
categories:
- Free Software
tags: [free software, quality, fosdem]
status: publish
type: post

meta:
  blogger_blog: psanxiao.blogspot.com
  blogger_author: Pablo Sanxiaohttp://www.blogger.com/profile/05095211569441587201noreply@blogger.com
  blogger_permalink: /2008/05/master-on-free-software-students.html
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p>As activity for one of the subjects in the <a href="http://www.igalia.com/eventos/master/">Master on Free Software</a> we made a paper entitled Quality and Libre Software: a theoretical and practical approach.</p>
<p>In that paper we tried to test the <a href="http://www.openbrr.org/">OpenBRR</a> model. This is an attempt to meassure how much suitable a free software project is when we have a group of requirements. We chose as example in order to test the model in a real case which would be the most appropiate GNU/Linux distribution to an average user.</p>
<p>By means this example we could study the model and discover its strenghs and weakness. In the paper we suggest also some ideas in order to improve it.</p>
<p>Besides, thanks to <a href="http://www.caixanova.com/">Caixanova </a>we could travel to Brussels in order to attend to <a href="http://fosdem.org/2008/">Fosdem</a> and present the paper into the <a href="http://libresoft.es/Activities/Research_activities/fosdem2008">Research Room</a>.</p>
<p><span style="font-weight: bold">Resources:</span>
<ul>
<li><a href="http://libresoft.es/Activities/Research_activities/downloads/fosdem2008/papers/quality.pdf">Paper</a> (pdf)</li>
<li><a href="http://libresoft.es/Activities/Research_activities/downloads/fosdem2008/slides/OpenBRR_Fosdem_Presentation.pdf">Slides</a></li>
<li><a href="http://video.google.com/videoplay?docid=155275564037547164&amp;hl=en">Video of the presentation</a></li>
</ul>
<p>Very special thanks also to people from <a href="http://www.libresoft.es/">Libresoft</a> and <a href="http://www.igalia.com/">Igalia</a> for their support and to my classmates for trusting on me as speaker. (You didn't know what were doing)</p>
