---
layout: post
title: Gtranslator 2.0 is comming...
date: 2008-08-08 11:52:00.000000000 +02:00
categories:
- Development
tags: [gtranslator]
status: publish
type: post

meta:
  blogger_blog: psanxiao.blogspot.com
  blogger_author: Pablo Sanxiaohttp://www.blogger.com/profile/05095211569441587201noreply@blogger.com
  blogger_permalink: /2008/08/gtranslator-20-is-comming.html
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p>It has been a long time since I decided to start to collaborate with the development of <a href="http://gtranslator.sf.net/">gtranslator</a>, first as my dissertation  in order to get my degree as Technical Engineer in Computer Sciences and now as my practicum in the <a href="http://mastersoftwarelibre.com/">Master on Free Software</a> working at <a href="http://www.igalia.com/">Igalia</a>.</p>
<p><a href="http://gtranslator.sf.net/">Gtranslator</a> is a <a href="http://en.wikipedia.org/wiki/Gettext">PO files</a> editor that was created by <a href="http://kabalak.net/">Fatih Demir</a> and maintained until October 2007 by <a href="http://golder.org/">Ross Golder</a> when he transfered the maintenance to <a href="http://blogs.igalia.com/juanjo/">Juanjo</a> and me. Thank you guys for trusting on us. It is not very common that there are two maintainers in a gnome project but in this case I think we are a good team, Juanjo is the experience and I am the <span style="cursor: pointer"><span class="q">enthusiasm.</p>
<p>For the last months we have been working a lot with <a href="http://nachoslog.blogspot.com/">Ignacio Casal</a> trying to migrating <a href="http://gtranslator.sf.net/">gtranslator</a> to <a href="http://library.gnome.org/devel/gobject/stable/">Gobject</a> and implementing some new features:<br /></span></span>
<ul>
<li> Support for different profiles with information about the translator and language.</li>
<li>Translation memory.</li>
<li>Plugin system</li>
<li>Plugins for OpenTran, alternate language, integration with subersion, diff...</li>
<li>Catalog manager for <a href="http://en.wikipedia.org/wiki/Gettext">PO Files</a>.</li>
</ul>
<p>All this features are working right now and we hope to make a beta release as soon as possible so that translators can check them.<br />Besides we are preparing a new web page with all the information about the new features, a roadmap for the future and information about how to use the program and how to collaborate with its development.</p>
<p>We are thinking also in changing the name for the project. So far we had created a section into <a href="http://live.gnome.org/gtranslator">gtranslator's wiki</a> where people can write its suggestions for the new name but this decision it's not definitive because change the name for a project it is a decision more complicate than it seems to be. In fact this is worth analyzing in another post.</p>
