---
layout: post
title: Good feelings about gvSIG 2.0
date: 2009-07-04 13:17:00.000000000 +02:00
categories:
- Geo
tags: [gvsig]
status: publish
type: post

meta:
  blogger_blog: psanxiao.blogspot.com
  blogger_author: Pablo Sanxiaohttp://www.blogger.com/profile/05095211569441587201noreply@blogger.com
  blogger_permalink: /2009/07/good-feelings-about-gvsig-20.html
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p>After have been these days in Valencia, knowing the novelties about <a href="http://www.gvsig.org/web/">gvSIG</a> 2.0 and have many interesting talks with project crew, I can say that I'm hopeful enough with the future of this project.<br />I'm not sure if these feelings are really based on something or, on the contrary, are the result of my current frame of mind, since I'm a bit disappointment after having seen last week how people, that say to know about how Free Software works, hinder the main principle: the collaboration.</p>
<p>According to I have being seen these days, I think <a href="http://www.gvsig.org/web/">gvSIG</a> can really become in a project developed and maintained by the Free Software community. From the technical point of view, the changes that have been carrying out contribute to make easier the collaboration with the project. Some examples:</p>
<p>This new version includes a new geometry model, which is an evolution from the old one and based on an approximation to the standard <a href="http://www.iso.org/iso/iso_catalogue/catalogue_tc/catalogue_detail.htm?csnumber=26012">ISO 19107</a>. This new model is independent of the rest of gvSIG's components, removing the one that existed in the old model with draw 2D. Besides, it is more extensible since the library provide mechanisms so that we can register new geometries and their associated operations.</p>
<p>The new Data Access Library (DAL) is an abstraction layer that makes possible work with different<br />data sources in an homogeneous way, providing a standard <a href="http://en.wikipedia.org/wiki/API">API</a>.</p>
<p>This new version of <a href="http://www.gvsig.org/web/">gvSIG</a> includes also a new concept: the transformations. Basically a transformation is an algorithm that changes the way of showing data but without modify the original data source. <a href="http://www.gvsig.org/web/">gvSIG</a> 2.0 includes a new wizard to apply different transformations and a <a href="http://en.wikipedia.org/wiki/API">API</a> in order to have access to this wizard and create new transformations. To add a new transformation just we have to create the panels, that will be shown by the wizard in order to get the information needed about data, and the algorithm that will make the changes in the way of see the information.</p>
