---
layout: post
title: Summary of last conferences
date: 2009-12-20 17:12:00.000000000 +01:00
categories:
- Geo
tags: [gvsig, sasig]
status: publish
type: post

meta:
  blogger_blog: psanxiao.blogspot.com
  blogger_author: Pablo Sanxiaohttp://www.blogger.com/profile/05095211569441587201noreply@blogger.com
  blogger_permalink: /2009/12/summary-of-last-conferences.html
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p>These last months I had the opportunity of taking part in two international conferences about GIS (Geographic Information Systems) as part of my work in <a href="http://www.cartolab.es">CartoLab</a>. In November I was in the<a href="http://evora.sigaberto.org"> II SASIG</a> in Evora (Portugal) and in December in the <a href="http://jornadas.gvsig.org/">V Jornadas gvSIG</a> in Valencia (Spain).  It has been a great opportunity of meeting a lot of cool people who takes long time working in the GIS communities and I only knew  from mailing lists. With all of them I could enjoy of great moments learning, talking and sharing experiences.</p>
<p>The conference, in Evora, was about GIS and Free Software. I am very glad viewing how the Free Software Philosophy is being taken, more and more, in new fields.  According to what I have seen it seems that Portugal, as well as Spain, is betting hard on GIS and in many cases this bet comes from the Public Administration, but so far as well as Spain have still an unresolved matter, making public the data for the society.</p>
<p>CartoLab was represented with two talks, I gave the first one about <a href="http://navtable.forge.osor.eu/">NavTable</a>, actually was the first time that NavTable was shown in public, and my workmate <a href="http://cartohistorias.blogspot.com">Gonzalo</a> gave a great talk entitled "<span style="font-weight: bold">Development of  a Free Corporative GIS in the Provincial Council of Pontevedra</span>" that shows an example of bet for Free Software by a Public Administration.</p>
<p>The V Jornadas gvSIG is a conference arround gvSIG, a GIS application developed by the Valencia goberment and probably the most important Free GIS application nowadays.  From CartoLab we could show many of  our developments based on gvSIG since the organization gave us the opportunity of taking part with four talks:</p>
<ul>
<li><b>gvSIG on EIEL of Pontevedra Province Council</b></li>
<li><b>Developments in gvSIG for the improvement of the management of information for ISF Honduras    </b></li>
<li><b>NavTable, sailing along the data in gvSIG </b></li>
<li><b>Developments on gvSIG for the Plan of drainage infrastructures of Galicia</b></li>
</ul>
<p>Besides, in this conference was presented the gvSIG Association that will take the control of the gvSIG project for now on. We could meet them and come to a series of agreements for the future. The first one was made already public: NavTable, our killer application, will be a gvSIG official project.</p>
<p><span style="font-style: italic"><span style="font-weight: bold"><span style="font-style: italic"><span style="font-weight: bold"></span></span></span></span><span style="font-style: italic"><span style="font-weight: bold"></span></span><span style="font-style: italic"><span style="font-weight: bold"><span style="font-style: italic"></span></span></span><b><i><span style="color:darkred"><br /></span></i></b></p>
