---
layout: post
title: Official packages for gtranslator
date: 2009-03-21 19:42:00.000000000 +01:00
categories:
- Development
tags: [gtranslator, ubuntu, debian]
status: publish
type: post

meta:
  blogger_blog: psanxiao.blogspot.com
  blogger_author: Pablo Sanxiaohttp://www.blogger.com/profile/05095211569441587201noreply@blogger.com
  blogger_permalink: /2009/03/official-packages-for-gtranslator.html
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p>The last release of <a href="http://gtranslator.sf.net">gtranslator</a> (1.9.4) has been included in <a href="http://www.debian.org">Debian</a> and <a href="http://www.ubuntu.com">Ubuntu</a> as official package.<br />This is still an unstable release. In the case of Debian, it has been included into Debian Experimental and in Ubuntu has been included in the next stable version, Jaunty.</p>
<p>I would like to say thank you to Debian and Ubuntu people that make this possible. Now, if you are fan of Debian or Ubuntu you can test the new gtranslator installing it from the repository of your favorite GNU/Linux distribution.</p>
<p>Links to official packages:</p>
<p><a href="http://packages.debian.org/experimental/gtranslator">Debian</a><br /><a href="http://packages.ubuntu.com/jaunty/gtranslator">Ubuntu </a></p>
