---
layout: post
title: gtranslator 2.0 is one step closer to be reality
date: 2009-01-25 22:25:00.000000000 +01:00
categories:
- Development
tags: [gtranslator]
status: publish
type: post

meta:
  blogger_blog: psanxiao.blogspot.com
  blogger_author: Pablo Sanxiaohttp://www.blogger.com/profile/05095211569441587201noreply@blogger.com
  blogger_permalink: /2009/01/gtranslator-20-is-one-step-closer-to-be.html
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p>Yesterday gtranslator 1.9.4 has been released. This is the first Beta version of gtranslator 2.0. It includes the new features which I talked in a <a href="http://psanxiao.blogspot.com/2008/08/gtranslator-20-is-comming.html">previous post</a>. </p>
<p>I want to say thank you to all the people that have contributed with the project somehow.</p>
<p>You can download it from <a href="https://sourceforge.net/projects/gtranslator">here</a> and test it.</p>
<p>I would be happy if gtranslator makes your work a bit easier.</p>
