---
layout: post
title: GNOME Merchandise
date: 2009-02-16 22:25:00.000000000 +01:00
categories:
- General
tags: [gnome]
status: publish
type: post

meta:
  blogger_blog: psanxiao.blogspot.com
  blogger_author: Pablo Sanxiaohttp://www.blogger.com/profile/05095211569441587201noreply@blogger.com
  blogger_permalink: /2009/02/gnome-merchandising.html
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p>Last week was my birthday. A friend of mine, <a href="http://nosolosoftware.es/">Andrés</a>, had a brilliant idea, give me something related to <a href="http://www.gnome.org">GNOME</a>. He could have thought in give me a sticker for my laptop, for instance, but I have already one. He could have thought in a T-Shirt, but I have already a couple of ones. He could have thought in a... nothing else. There were no more possibilities so finally he found this:</p>
<p> <a href="http://3.bp.blogspot.com/_ZafO0yXebLk/SZnqMyzkXpI/AAAAAAAAAD4/YpV4BvP-cek/s1600-h/P1000959.JPG"><img style="margin:0px auto 10px;text-align:center;cursor:pointer;cursor:hand;width: 320px;height: 240px" src="assets/P1000959.JPG" border="0" /></a></p>
<p>This is a funny bathroom rug, obviously this is not the GNOME logo but if it was, it would be really cool. I would like to have a bathroom rug with the GNOME logo, and I'm pretty sure that many people that love GNOME would like too. GNOME Marketing, it's time to create a powerful merchandise line!</p>
