---
layout: post
title: Learning about gvSIG 2.0
date: 2009-07-01 21:19:00.000000000 +02:00
categories:
- Geo
tags: [gvsig]
status: publish
type: post

meta:
  blogger_blog: psanxiao.blogspot.com
  blogger_author: Pablo Sanxiaohttp://www.blogger.com/profile/05095211569441587201noreply@blogger.com
  blogger_permalink: /2009/07/learning-about-gvsig-20.html
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p>These days I'm in Valencia, learning about <a href="http://www.gvsig.gva.es/">gvSIG</a> 2.0 with project crew.</p>
<p>This new version is really a deep revision. There are many changes in the architecture, source code and technologies used by the project. One of this new technologies is <a href="http://maven.apache.org">Maven</a>, that replaces <a href="http://ant.apache.org">Ant</a> as method to build <a href="http://www.gvsig.gva.es/">gvSIG</a>. </p>
<p>I hardly knew Maven and it really surprises me. It's really easy to configure it. <a href="http://maven.apache.org">Maven</a> is being able to search the dependencies of a project in a local or external repository an it is also really easy to add your new project to these repositories.<br />Besides, gvSIG people have made a great job integrating maven in <a href="http://www.gvsig.gva.es/">gvSIG</a>, in fact, an executable of Maven is distributed with the project so you don't need to install it. They have also created several templates in order to make new libraries or extensions in a easy way, just providing a few data Maven will create a structure for your project and even will import it into your eclipse's workspace. </p>
<p>Apart from learning about the technical novelties of this new version, I have known the project crew, having the opportunity of talking with them, changing opinions...<br />When I started to work with gvSIG, several months ago, I had the sensation that <a href="http://www.gvsig.gva.es/">gvSIG</a> was a cathedral project, according to definition of cathedral from the book "<a href="http://catb.org/esr/writings/cathedral-bazaar/">The Cathedral and the Bazaar</a>" by <a href="http://catb.org/esr/">Eric Raymond</a>, in fact I'm still thinking that. Nevertheless today I'm a bit more excited thinking that maybe in the future could become a Bazaar project, which is the essence of Free (Libre) Software.</p>
<p>We will see...</p>
