---
layout: post
title: Tiempo de cambios...
date: 2010-12-27 22:03:41.000000000 +01:00
categories:
- General
tags: []
status: publish
type: post

meta:
  _wp_old_slug: ''
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p><strong>En el blog</strong>:</p>
<p>Cuando comencé este blog lo hice en Inglés, un poco por tratar de llegar a más gente y también por obligarme a practicar y a que no se me oxidasen demasiado mis escasos conocimientos de la lengua de Shakespeare. Ahora inicio una nueva etapa con posts también en Castellano, sé que es un riesgo porque siempre es más fácil contar cosas en tu lengua pero espero poder seguir animándome a escribir en Inglés de vez en cuando.</p>
<p><strong>En lo profesional:</strong></p>
<p>Estos dos últimos años he estado trabajando en el <a href="http://cartolab.udc.es">CartoLab</a>, el laboratorio de Ingeniería Cartográfica de la Universidade da Coruña. La verdad es que han sido dos años muy buenos en mi vida, he hecho lo que más me gusta, me han pagado por ello, he conocido a gente que tiene ya un lugar muy especial en mi vida y he disfrutado de un ambiente de trabajo increíble.</p>
<p>Ahora toca cambiar de aires, aunque no del todo de compañeros de viaje. Me embarco en una iniciativa empresarial junto a 6 compañeros del CartoLab. Juntos hemos creado<a href="http://www.icarto.es"> iCarto</a>, una pequeña empresa que nace con la idea de intentar ser diferente, de intentar brindarnos la oportunidad de hacer lo que nos gusta y como nos gusta. Sus tres ejes principales son los <a href="http://en.wikipedia.org/wiki/Geographic_information_system">Sistemas de Información Geográfica</a> (GIS), el <a href="http://en.wikipedia.org/wiki/Free_software">Software Libre</a> y la <a href="http://es.wikipedia.org/wiki/Cooperaci%C3%B3n_al_desarrollo">Cooperación al Desarrollo</a>. Pero lo más importante de iCarto para nosotros son las personas que la forman, por eso nace con la idea de ser una empresa asamblearia, donde podamos decidir entre todos, y horizontal, sin jerarquías, donde todos aportemos lo mismo.</p>
<p>En definitiva, se cierra una muy buena etapa hacia la que todavía miro con algo de morriña, pero se abre una nueva, llena de ilusión y con muy buenas sensaciones.</p>
<p>Y por cierto, Felices Fiestas a todos y que el 2011 sea para vosotros también tiempo de cambio... para bien.</p>
