---
layout: post
title: Onion Model
date: 2011-10-19 18:15:06.000000000 +02:00
categories:
- Free Software
tags: [gvsig, onion model, software libre]
status: publish
type: post

meta:
  _wp_old_slug: ''
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p style="text-align: justify">En<a href="http://www.ghandalf.org"> GHANDALF</a>, la asociación para la difusión del software libre de la que soy cofundador, estamos estos días preparando un nuevo proyecto. Después de la estupenda acogida que tuvo la traducción al Gallego y posterior edición del libro <a href="http://producingoss.ghandalf.org/">Produccing Open Source Software</a> en formato impreso, hemos decidio darnos esta vez un poco de autobombo y editar  un libro que recoja nuestros trabajos de la primera edición de <a href="http://www.mastersoftwarelibre.com/">Máster en Software Libre</a>.</p>
<p style="text-align: justify">Recuperando esto días, aquellos maravaillosos escritos olvidados, llenos de ilusión, esfuerzo y falta de horas de sueño para entregar a tiempo, me he dado cuenta que en mi caso me vienen que ni pintados.</p>
<p style="text-align: justify">En <a href="http://www..gvsig.org">gvSIG</a> llevamos una temporada dándole vueltas a como integrar más a la comunidad en el proceso de desarrollo. Si bien mis trabajos no tienen la solución mágica a este problema, sí que daban algunas pinceladas que pueden ayudar a entender mejor como funcionan las comunidades de software libre. De uno de ellos rescato un breve párrafo que intentaba explicar brevemente como funciona el Onion Model. Si lo miras en la wikipedia probablemente lo entenderás mejor y hasta te vendrá un dibujo, pero yo pego aquí el intento que hacía para explicarlo:</p>
<blockquote>
<p style="text-align: justify">"El Onion Model es un modelo característico de los proyectos de software libre y se cumple dentro de GNOME. De manera general, este modelo asume que el primer contacto con un proyecto de software libre se realiza a través de su página web, o como usuario del programa. A partir de aquí se puede utilizar la lista de correo del proyecto para consultar dudas e interactuar con otros miembros de la comunidad. Cuando se usa el programa se detectan errores, el siguiente paso es ayudar a la comunidad a resolverlos mediante el envio de informes de fallo. Para esto la mayoría de proyectos suelen usar una herramienta de seguimiento de errores, en el caso de GNOME se emplea Bugzilla. Cuando se tienen habilidades de programación se puede usar esta misma herramienta para enviar parches con soluciones para esos errores y así ganar méritos para ser incluido entre los desarrolladores del proyecto. Esto permite tener acceso directamente al sistema de control de versiones para subir las modificaciones directamente en lugar de enviar los parches."</p>
</blockquote>
<p style="text-align: justify">Esto es un modelo ideal, cada comunidad es un mundo y probablemente haya muchas formas distinas de hacercarse a ella. Conocer como funciona, como la gente se aproxima a tu proyecto, es fundamental para poder llevar a cabo una buena gestión de la comunidad y lograr esas preciadas colaboraciones que harán crecer tu proyecto.</p>
<blockquote>
<p style="text-align: justify">
</blockquote>
