---
layout: post
title: Jornadas abiertas del Master en Software Libre
date: 2011-04-04 18:48:11.000000000 +02:00
categories:
- Geo
tags: [gvisg, iCarto]
status: publish
type: post

meta:
  _wp_old_slug: ''
  _edit_last: '6'
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p style="text-align: justify;">Hace un par de semanas tuvieron lugar  en el <a href="http://mastersoftwarelibre.com">máster de software libre</a>, organizado por <a href="http://igalia.com">Igalia</a> y la<a href="http://libresoft.es"> Universidad Rey Juan Carlos I</a>,  unas jornadas abiertas en las que varios ex-alumnos pudimos contar nuestras experiencias alrededor del Sofware Libre. Mi participación consistió en una charla sobre la relación de iCarto, empresa de la que soy socio fundador, y el proyecto <a href="http://gvsig.org">gvSIG</a>.</p>
<p style="text-align: justify;">Cuando me propusieron la posibilidad de participar en las jornadas para hablar de esta relación empresa-proyecto de Software Libre, tuve bastantes dudas sobre como enfocarlo. Recuerdo que en la primera edición del máster, la que yo cursé, en diferentes momentos surgió la pregunta de cómo ganar dinero con el Software Libre. El movimiento del Software Libre, tiene una componente filosófica muy grande detrás, la mayoría de los que estamos metidos en él es por convicción, porque nos gusta esta filosofía, el compartir nuestro conocimiento y aprender del de los demás. Sin embargo, mientras el mundo no cambie, todos necesitamos dinero para vivir. Conseguir que una filosofía, un modo diferente de ver las cosas, además te de dinero, parece a priori bastante complicado.</p>
<p style="text-align: justify;">Durante el máster, estudiamos la famosa <a href="http://hecker.org/writings/setting-up-shop">clasificación de Hecker</a> que intenta dar respuesta a qué modelos de negocio se pueden utilizar en el Software Libre. Sin embargo, todo esto se quedaba en la teoría, necesitábamos ver como se lleva realmente esto a la práctica. Recuerdo que incluso se había organizado una mesa redonda, que no estaba prevista, para tratar de satisfacer nuestra gran curiosidad en este punto. Con esto en mente, se me ocurrió tratar de enfocar la charla hacia esto y tratar de transmitir, sobre todo a los alumnos de esta edición, mi experiencia en iCarto y todo el valor que generamos en nuestros proyectos en base al Software Libre.</p>
<p style="text-align: justify;">De todo esto salió la presentación que os dejo a continuación. En ella hablo de tres cosas: una tecnología, los <a href="http://es.wikipedia.org/wiki/Sistema_de_Informaci%C3%B3n_Geogr%C3%A1fica">sistemas de información geográfica</a> (SIG), una comunidad, la que se generó alrededor del proyecto gvSIG, y una empresa, iCarto, y como se puede conseguir generar valor a través de la relación empresa-proyecto de Software Libre.</p>
<div id="__ss_7511981" style="width: 425px;"><strong><a title="iCarto y su implicación en gvSIG" href="http://www.slideshare.net/psanxiao/icarto-y-su-relacin-con-gvsig">iCarto y su implicación en gvSIG</a></strong> <object id="__sse7511981" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="425" height="355" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="src" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=icartoengvsigmswlmarzo2011-110404121611-phpapp02&amp;rel=0&amp;stripped_title=icarto-y-su-relacin-con-gvsig&amp;userName=psanxiao" /><param name="name" value="__sse7511981" /><param name="allowfullscreen" value="true" /><embed id="__sse7511981" type="application/x-shockwave-flash" width="425" height="355" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=icartoengvsigmswlmarzo2011-110404121611-phpapp02&amp;rel=0&amp;stripped_title=icarto-y-su-relacin-con-gvsig&amp;userName=psanxiao" name="__sse7511981" allowscriptaccess="always" allowfullscreen="true"></embed></object></p>
<div style="padding: 5px 0 12px;">View more <a href="http://www.slideshare.net/">presentations</a> from <a href="http://www.slideshare.net/psanxiao">psanxiao</a></div>
</div>
<div style="padding-top: 5px; padding-right: 0px; padding-bottom: 12px; padding-left: 0px; text-align: justify;">Esto me sirve además para cerrar los últimos posts, en los que hablaba de la relación entre las empresas y el Software Libre, y de que mejor forma que con un autoejemplo.</div>
<div style="padding-top: 5px; padding-right: 0px; padding-bottom: 12px; padding-left: 0px; text-align: justify;">iCarto es una empresa de reciente creación, pequeña, que cuenta con un pequeño grupo de desarrollo. Los proyectos finales que hacemos, basados en el uso de los SIG no tienen como objetivo final el desarrollo de una aplicación, sin embargo en casi todos hay una componente de desarrollo y/o de personalización de una herramienta, que genera valor al proyecto. Esto podemos hacerlo gracias al uso de Software Libre, ya que podemos partir de un SIG, como es el caso de gvSIG, que podemos adaptar mediante pequeños desarrollos para obtener herramientas específicas que de otro modo sería imposible asumir en tiempo y recursos.</div>
<div style="padding-top: 5px; padding-right: 0px; padding-bottom: 12px; padding-left: 0px; text-align: justify;">La clave de la relación entre iCarto y gvSIG es que hay una implicación de la empresa en el proyecto de Software Libre. Intentamos aportar todo lo posible al proyecto, contribuyendo con parches, nuevas funcionalidades, etc... de manera que la relación sea bidireccional. Garantizar la sostenibilidad y el crecimiento del proyecto es garantizar también el propio crecimiento de la empresa.</div>
