---
layout: post
title: Migrando el blog a la Red Odiseus
date: 2011-12-27 22:25:23.000000000 +01:00
categories:
- General
tags: [jekyll, blog]
status: publish
type: post

meta:
  _edit_last: '6'
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p style="text-align: justify;">Desde hoy mismo este blog se encuentra alojado en la <a href="http://odiseus.org">Red Odiseus</a>, y de paso con nuevo diseño. La Red Odiseus es una iniciativa creada por <a href="http://conocimientoabierto.es">Fran</a> y <a href="http://nosolosoftware.com">Andrés</a>, y a la que después me uní yo mismo, para además de tener un hosting propio, alojar los blogs de los amigos y echarles una mano para montar la infraestructura y con los problemillas que les surjan.</p>
<p style="text-align: justify;">Ahora mismo tenemos <a href="http://odiseus.org/53-2/">9 blogs</a> en la red y con previsiones de que se nos una alguno más en breve. Además alojamos las páginas de alguna que otra asociación a la que estamos vinculados de alguna forma, y alguna que otra lista de correo.</p>
<p style="text-align: justify;">Para finalizar el post rescato algo que me dijo Andrés cuando me contaba esta iniciativa y me metía el gusanillo: "Para que van a tener nuestros colegas el blog en blogger si nosotros les vamos a cobrar lo mismo y aún encima les damos cariño".</p>
