---
layout: post
title: ! 'Empresas y Software Libre: Del sistema feudal a la economía del conocimiento'
date: 2011-01-16 17:39:21.000000000 +01:00
categories:
- Free Software
tags: [empresa, software libre, economía]
status: publish
type: post

meta:
  _wp_old_slug: ''
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p>En el <a href="http://psanxiao.com/empresas-y-software-libre">post anterior</a> se daba una visión de las opciones que una empresa tiene, cuando quiere desarrollar un producto como software libre. Ahora trataremos de analizar que posibilidades tienen las empresas que buscan desarrollar un modelo de negocio alrededor de un producto de software libre existente.</p>
<p>En el software propietario no había muchas posibilidades, el modelo típico es similar al <a href="http://es.wikipedia.org/wiki/Feudalismo">sistema feudal</a>. Los señores feudales dominaban las tierras de la misma forma que las grandes corporaciones dominan el mercado con productos de software cerrados. Los campesinos sólo podían trabajar las tierras de los señores a cambio de las condiciones que estos imponían, algo similar, salvando las distancias, a lo que ocurre con las pequeñas empresas que quieren desarrollar soluciones sobre los productos de estas compañías. Aquí las condiciones se ponen mediante los programas de partners.</p>
<p>El software libre, por contra, representa la <a href="http://es.wikipedia.org/wiki/Econom%C3%ADa_del_conocimiento">economía del conocimiento.</a> Las reglas del juego son las mismas para todos, el software está ahí disponible para ser usado, sin condiciones. Las empresas ya no dependen de terceros sino de su propio "<a href="http://es.wikipedia.org/wiki/Know-how">Know-how</a>". A partir de aquí pueden aparecer tantos modelos de negocio como las empresas sean capaces de encontrar. Algunos son bastante claros:</p>
<ul>
<li><strong>Distribuir software libre:</strong> Aunque el software libre se puede distribuir libremente, muchas empresas lo empaquetan de forma que su instalación sea más sencilla para los usuarios. Es el claro caso de las distribuciones de linux.</li>
<li><strong>Dar soporte: </strong>El poder tener acceso al software, a su código, estudiarlo y analizarlo permite a culquier compañía especializarse en cualquier producto y dar soporte sobre él a terceros. Ligado a esto están los modelos de negocio de <strong>consultoría</strong> y <strong>formación</strong>.</li>
<li><strong>Apoyarse en el software libre para romper dependencias:</strong> Muchas compañías migran sus productos a sistemas de software libre, de este modo evitan depender de otros fabricantes de software con los que además compiten en ciertos nichos de mercado.</li>
<li><strong>Utilizar software libre para generar valor:</strong> Empresas que no basan su negocio en el desarrollo de software, pero que necesitan utilizarlo encuentran más facilidades en el software libre para racionalizar el coste. Vendedores de hardware por ejemplo, pueden centrarse en el desarrollo de su producto, sin desviar tantos esfuerzos al software, que para ellos es accesorio.</li>
<li><strong>Desarrollo de soluciones a medida:</strong> Pequeñas compañías pueden desarrollar soluciones software a medida partiendo de un proyecto de software libre. Pueden trabajar de forma independiente, no necesitan acuerdos de partner con una gran compañía, ni un número elevado de desarrolladores para crear una solución potente.</li>
</ul>
<p>Este último es especialmente interesante ya que muestra como el software libre ha cambiado las leyes del mercado. Ya no hay competidores sino aliados. La tecnología, el software son comunes para todos y las mejoras que uno introduce son aprovechas por otro. El negocio está ahora en las capacidades de cada uno, en su conocimiento y habilidades. Es un modelo más justo que permite competir a todos por igual, que se basa en el conocimiento para generar valor y que se puede resumir en una frase:</p>
<blockquote><p>Connect on your similarities and profit from your benefits</p></blockquote>
<p>Pero para que todo esto funcione, las empresas , tienen que relacionarse con las comunidades de software libre que mantienen los proyectos en los que basan sus modelos de negocio, y esto, no siempre es sencillo ya que el desarrollo de software libre en comunidad tiene sus particularidades. Comprenderlas y sacar partido de ellas es algo todavía nuevo para muchas compañías. Pero esto queda para otro post...</p>
