---
layout: post
title: Emblemas en las carpetas de Nautilus
date: 2012-11-09 09:41:30.000000000 +01:00
categories:
- General
tags: [ubuntu]
status: publish
type: post

meta:
  _edit_last: '6'
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p style="text-align: justify;">La versión 12.04 de Ubuntu trajo alguna que otra sorpresa, y no todas agradables. Por lo menos en mi casa se vivió un momento de pánico tras la actualización, y no no fue por quedarse sin las X al reiniciar, sino porque no se podían poner emblemas a las carpetas en nautilus.</p>
<p style="text-align: justify;">En casa no tenemos windows, todos los ordenadores tienen GNU/Linux. Mi pareja se ha acostumbrado bastante bien a esto, la verdad. Desde que su viejo portátil con windows murió, las opciones pasaban por comprar otro o usar alguno de los míos que sólo tienen Ubuntu, así que la necesidad se encargó de hacer la transición hacia el software libre algo más dulce. Para mi sorpresa el período de adaptación  fue muy corto y ahora sencillamente se encuentra muy cómoda usando GNU/Linux y más cuando descubrió que a las carpetas de nautilus se le pueden poner emblemas!</p>
<p style="text-align: justify;">Yo llevo usando GNU/Linux desde hace bastante años, y ni de broma se me hubiese ocurrido destacar esta característica, sin embargo está claro que tiene su público. El drama empezó cuando, como digo, tras actualizar a Ubuntu 12.04, esta funcionalidad no estaba.</p>
<p style="text-align: justify;">Por suerte, y tras el susto inicial, hay forma de recuperarla, y sólo hacen falta un par de comandos:</p>
<pre>sudo add-apt-repository ppa:nae-team/daily
sudo apt-get update
sudo apt-get install nautilus-actions-extra</pre>
<p style="text-align: justify;">Ahora, al hacer click con el botón derecho sobre una carpeta de nautilus tenemos, además de otras nuevas opciones, un apartado llamado <em>Avanzado</em> y dentro encontraremos la opción de <em>Emblema</em>.</p>
<p style="text-align: justify;">La moraleja de esta historia es: Desarrolladores del mundo en general y de Ubuntu en particular, cuando vayan a eliminar una funcionalidad, pregúntenle antes a sus parejas.</p>
