---
layout: post
title: Sextante in gvSIG 1.12
date: 2012-04-09 19:17:19.000000000 +02:00
categories:
- Geo
tags: [gvsig, sextante]
status: publish
type: post

meta:
  _edit_last: '6'
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p style="text-align: justify;">Last weeks I have been working a bit in <a href="sextantegis.com">Sextante</a> to integrate it in the next estable version of <a href="http://gvsig.org">gvSIG</a> (1.12).</p>
<p style="text-align: justify;">In addition to many new features, last Sextante version allows to make any action from the Toolbox, not only execute algorithms but also create new models or scripts. For gvSIG users it is possible as well to execute its geoprocess like Sextante algorithms. Changes were needed in both sides so if you want to check it you will need to make checkout of <em>trunk</em> in both projects.</p>
<p><a href="../assets/images/posts/Pantallazo-gvSIG-1.12.0-develUntitled.png"><img class="aligncenter size-medium wp-image-93" title="gvSIG 1.12.0 devel" src="../assets/images/posts/Pantallazo-gvSIG-1.12.0-develUntitled.png" alt="" width="300" height="158" /></a></p>
<p style="text-align: justify;">All this work will be available in the intermediate builds and release candidate of gvSIG 1.12 so that you can give your feedback. Stay tuned!</p>
<p style="text-align: justify;">Very special thanks to Víctor Olaya for his help.</p>
