---
layout: post
title: Don't let google code for you
date: 2012-12-23 18:48:01.000000000 +01:00
categories:
- Development
tags: [computer science]
status: publish
type: post

meta:
  _edit_last: '6'
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p>After reading <a href="http://www.johndcook.com/blog/2012/12/18/the-value-of-typing-code/">this entry</a> it come into my mind a simple question: <strong>Why the first thing that developers do is searching in google when we have to face up to a new problem?</strong></p>
<p>I mean, usually it is a good idea to read code, to see how other people faced up the same problem in order to learn, but, why do not we try to think in a way to resolve the problem before seing other solutions?</p>
<p>Computer Science is older than google, you know ;-)</p>
