---
layout: post
title: Las jornadas de los datos (SIG Libre 2013)
date: 2013-03-11 21:28:38.000000000 +01:00
categories:
- Geo
tags: [software libre]
status: publish
type: post

meta:
  _edit_last: '6'
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p style="text-align: justify;"><strong><em>"Al mal tiempo, buena cara"</em></strong>. Así empezaba la presentación de las <a href="http://www.sigte.udg.edu/jornadassiglibre/">Jornadas de SIG Libre</a> de este año, y justo eso es lo que he visto y he vivido estos últimos días en Girona, la buena cara del mundo <em>geo</em> en nuestro país. Por mucho que hayan sido unas jornadas algo más austeras, con menos patrocinios y aunque nos hayan dado una libreta más pequeña que en los años anteriores, para mí estas jornadas han sido grandes.</p>
<p style="text-align: justify;">Han sido unas jornadas mucho más reflexivas, con ponencias que hacían pensar, que invitaban a la reflexión y a dar un paso más hacia adelante. <strong>"Todo el software va a ser libre en unos años, eso ya lo tenemos ganado"</strong> decía Malcolm Bain. No estoy tan seguro de que vaya a ser tan fácil, pero es verdad que el software libre ya no es sólo algo de unos pocos frikis y que ahora que se está haciendo ya un hueco empezamos a ir más allá y a hablar de datos libres, el <em>Open Data</em> que se está empezando a poner tan de moda.</p>
<p style="text-align: justify;">En estas jornadas se ha hablado mucho de datos, de que hay que liberarlos y de cómo hacerlo. Eso nos lo enseñó <a href="http://twitter.com/alorza">Alberto Ortiz</a> del Gobierno Vasco, que nos contó como se estaba haciendo desde esa administración. Por desgracia es todavía una iniciativa bastante aislada en España y queda mucho camino aún por recorrer . Sin embargo da gusto ver a alguien desde la administración pública hablando de <em>r</em><em>elease early, release often</em> sobre los datos, la importancia de liberarlos ya que otros podrán arreglarlos y sobre todo que es una indecencia querer volver a cobrar por datos que ya hemos pagado entre todos.</p>
<p style="text-align: justify;">Se ha hablado mucho también de cómo visualizarlos, y de como el software libre es hoy en día la mejor forma de hacerlo, no por aspectos filosóficos sino simplemente porque es la tecnología más innovadora en este aspecto. J<a href="https://twitter.com/jatorre">avier de la Torre</a>, de <a href="http://vizzuality.com/">Vizzuality</a>, dio una gran charla sobre esto y sobre como estaba cambiando el paradigma del SIG en la web, con formas diferentes de mostrar la información. <strong>"Si un mapa necesita leyenda para entenderse es que está mal hecho"</strong> se dijo. A partir de esta ponencia hubo también bastante debate sobre si las IDE tenían sentido, los estándares OGC, INSPIRE... siendo este un debate muy enriquecedor y seguramente necesario. Sin embargo, en mi opinión, muchos de los argumentos que daba Javier eran bastante sesgados. Hay mapas que necesitan leyenda, y eso no significa que estén mal, y hay muchos casos en los que una IDE sí tiene sentido.</p>
<p style="text-align: justify;">Al mismo tiempo se reflexionó también sobre los peligros de la sobrecarga de información. El último día, tras el título de <em>SmallData vs BigData</em>, <a href="https://twitter.com/volayaf">Víctor Olaya</a> esgrimía un alegato en favor del conocimiento, con una analogía de la batalla entre David y Goliat. David ganó la batalla porque era listo, sabía usar una honda y tenía puntería. No por tener una gran cantidad de datos o una tecnología espectacular vamos a hacer mejor las cosas. Hay que empezar por la base, que es tener el conocimiento necesario.</p>
<p style="text-align: justify;">Respecto a lo que me tocaba más cerca, <a href="http://twitter.com/fpuga">Fran Puga</a> presentó el <a href="http://www.sigte.udg.edu/formasig/index.php?page=curso-introduccion-a-los-sig-para-la-cooperacion-al-desarrollo-ii">Curso de Introducción a los SIG para la Cooperación al Desarrollo</a> y siguiendo el espíritu de las jornadas nos invitaba a reflexionar ante una diapositiva en blanco, que representaba lo que significa para muchos millones de personas el acceso a Internet.</p>
<p style="text-align: justify;">Galicia volvió a estar ampliamente representada en las jornadas, con gente de empresas privadas, universidades y administración pública, síntoma de que el ecosistema <em>geo</em> sigue muy activo por estas tierras. Al igual que los distintos grupos de <em>geoinquietos</em> que se van consolidando en diferentes lugares y cuyas iniciativas pudimos presentar en una sesión desorganizada pero ilusionante al ver cuantas cosas se podían hacer simplemente con que un grupo de amigos se junten.</p>
<p style="text-align: justify;">Para finalizar, sólo queda agradecer, un año más, la hospitalidad y el buen hacer de la organización y la camaradería de todos los participantes. Todo ello hace que te sientas como en casa durante los días que dura el evento y que tu calendario tenga todos los años marcada una "G" de Girona en marzo.</p>
<p style="text-align: justify;">El año que viene más.</p>
