---
layout: post
title: eBook de Cómo perdimos el mundo
date: 2013-08-27 23:05:52.000000000 +02:00
categories:
- General
tags: [ebook]
status: publish
type: post

meta:
  _edit_last: '6'
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p style="text-align: justify;"><a href="http://lasindias.com/etiquetas/comoperdimoselmundo">Cómo perdimos el mundo</a> es un cuento de verano, escrito por entregas por <a href="http://lasindias.com/david-de-ugarte">David de Ugarte</a> y publicado en <a href="http://lasindias.com">El Correo de las Indias</a>.</p>
<p style="text-align: justify;">A pesar de estar presente en alguna conversación sobre el mismo de <a href="http://conocimientoabierto.es">Fran</a> y <a href="http://nosolosoftware.com">Andrés</a> mientras tomábamos un café y de conocer la iniciativa de ir creando un <a href="http://cdb.io/13pHq7v">mapa interactiv</a>o con las ubicaciones de los personajes según discurría la historia, fui capaz de aguantar hasta el final para poder leerlo del tirón.</p>
<p style="text-align: justify;">Aprovechando unos días de relax en la playa no se me ocurre mejor momento para disfrutarlo, así que he convertido las entregas en el blog en un eBook para poder leerlo cómodamente en mi libro electrónico. Si como yo, has esperado hasta el final para leerlo puedes descargártelo en formato .epub.</p>
<p style="text-align: center;"><a href="https://www.dropbox.com/s/7qvedld9l2bl93i/como_perdimos_el_mundo.epub"><img class="aligncenter size-full wp-image-287" alt="fringe-icon-epub" src="../assets/posts/fringe-icon-epub.png" width="132" height="149" /></a></p>
<p style="text-align: justify;">Para crear el libro electrónico he usado <a href="http://libreoffice.org">LibreOffice </a>con la extensión <a href="http://extensions.services.openoffice.org/en/project/Writer2ePub">Writer2ePub.</a></p>
<p style="text-align: justify;"><strong>Actualización</strong>: El fichero fuente de LibreOffice para generar el eBook está disponible <a href="https://github.com/psanxiao/comoperdimoselmundo">aquí</a>.</p>
