---
layout: post
title: The humble programmer
date: 2013-01-17 21:50:46.000000000 +01:00
categories:
- General
tags: [computer science, Dijkstra]
status: publish
type: post

meta:
  _edit_last: '6'
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p style="text-align: justify;">The title of this post is the same that the famous article of <a href="http://en.wikipedia.org/wiki/Edsger_Dijkstra">Dijkstra</a>, which I recommend you to read.</p>
<p style="text-align: justify;">I know Dijkstra, or to be exact, his algorithms at the university. A little later I started to be interested on him as leading figure, as one of the most influential members of computing science's founding generation. I started to read something about his life, his theories...</p>
<p style="text-align: justify;"><a href="http://www.cs.utexas.edu/~EWD/ewd03xx/EWD340.PDF">The humble programmer</a> represents for me, all his essence. It was written in 1972 but many of the concepts are current. Let me to show you a short paragraph:</p>
<blockquote>
<p style="text-align: justify;">Another two years later, in 1957, I married and Dutch marriage rites require you to state your profession and I stated that I was a programmer. But the municipal authorities of the town of Amsterdam did not accept it on the grounds that there was no such profession. And, believe it or not, but under the heading "profession" my marriage act show the ridiculous entry "theoretical physicist"!</p>
</blockquote>
<p style="text-align: justify;">I know many very good programmers that if they have married at that time, by Dutch marriage rites, its marriage act would have shown something, maybe not ridiculous as Dijkstra said, but for sure something that it does not define them.</p>
<p>&nbsp;</p>
