---
layout: post
title: Primera Geocamp ES
date: 2013-08-08 08:01:33.000000000 +02:00
categories:
- Geo
tags: [geocamp, evento]
status: publish
type: post

meta:
  _edit_last: '6'
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p style="text-align: justify;">Después de haber participado en la <a href="http://geocampers.com/">geocamp</a> 2012 y 2013, un <a href="http://geocamp.es/organizacion/">grupo de geoinquietos</a>, apoyados por la asociación <a href="http://www.ghandalf.org">Ghandalf</a>, hemos organizado la primera versión española de la misma, a la que hemos denominado <a href="http://geocamp.es">geocamp ES</a>, el pasado mes de Junio.</p>
<p style="text-align: justify;">Esta primera edición tuvo como escenario el local de la asociación de vecinos de la villa de Bouzas, en Vigo. La ubicación elegida encajaba perfectamente con la filosofía de la geocamp, que busca alejarse de los clichés típicos de las conferencias, tanto a la hora de establecer los contenidos, como en la localización, tratando de huir de las grandes ciudades y buscar rincones con encanto. En esto último, Bouzas tuvo un encaje brutal, brindando a los participantes toda la hospitalidad y encanto de los pueblos gallegos, especialmente los de una pequeña villa marinera.</p>
<p style="text-align: justify;">Con todos estos ingredientes nos juntamos aproximadamente unas 50 personas para compartir experiencias en torno a las tecnologías de información geográfica libres. Finalmente contamos con 12 charlas en el improvisado programa que se preparó en el inicio del evento con las propuestas de los asistentes.</p>
<p><a href="../assets/images/posts/programa_geocamp.jpg"><img class="aligncenter size-medium wp-image-264" alt="programa_geocamp" src="../assets/images/posts/programa_geocamp.jpg" width="225" height="300" /></a></p>
<p>&nbsp;</p>
<p style="text-align: justify;">Tuvimos la suerte de poder contar con gente muy relevante del panorama SIG a nivel mundial, como Juan Marín de <a href="http://opengeo.org">OpenGeo</a>, la participación de Javier Arce en representación de <a href="http://vizzuality.com">Vizzuality</a>  o de Jorge Arévalo, creador del driver de conexión a PostGIS Raster de GDAL, entre otros. Mención especial merece también la presencia de Hugo Santos, uno de los organizadores de la Geocamp en Portugal y que quiso estar con nosotros dándonos su apoyo para la creación de esta versión española. También la participación de Xulio Coira, megra-crack del mundo del Hardware Libre que puso una nota diferente, nunca mejor dicho, presentando la <a href="http://openpipe.cc/">OpenPipe</a>, una de sus creaciones.</p>
<p style="text-align: justify;">Fue un día lleno de experiencias que permitió también juntarse con amigos y conocidos de este mundo a los que no ves habitualmente y con los que apetece tomarse unas <em>geobirras</em> de vez en cuando.</p>
<p style="text-align: justify;">Como la parte lúdica y social no puede faltar en estos eventos y estando en Galicia no pudimos poner mejor broche final que con una queimada, amenizada por el sonido de una gaita, aunque fuese electrónica.</p>
<p><a href="../assets/images/posts/grupo.jpg"><img class="size-medium wp-image-268 alignleft" alt="grupo" src="../assets/images/posts/grupo.jpg" width="300" height="225" /></a><br />
<a href="../assets/images/posts/quiemada.jpg"><img class="size-medium wp-image-267 aligncenter" alt="quiemada" src="../assets/images/posts/quiemada.jpg" width="225" height="300" /></a></p>
<p>&nbsp;</p>
<p style="text-align: justify;">Como además estábamos en una villa marinera y gracias a la colaboración de la <a href="http://marinerosbouzas.com/">Asociación de Mariñeiros San Miguel de Bouzas</a>, parte de los asistentes pudieron disfrutar, ya al día siguiente, de un paseo por la ría en embarcaciones tradicionales.</p>
<p><a href="../assets/images/posts/barcos.jpg"><img class="aligncenter size-medium wp-image-270" alt="barcos" src="../assets/images/posts/barcos.jpg" width="300" height="225" /></a></p>
<p>&nbsp;</p>
<p>Si todo va bien el próximo año repetiremos experiencia, también en Galicia, así que si te perdiste la primera geocamp ES, aún estás a tiempo de engancharte en la segunda.</p>
