---
layout: post
title: Hablando de IG y OpenStreetMap en el IES Xulián Magariños
date: 2013-12-03 14:25:48.000000000 +01:00
categories:
- Free Software
tags: [osm, openstreetmap]
status: publish
type: post

meta:
  _edit_last: '6'
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p style="text-align: justify;"><a href="../assets/images/posts/IMG_20131119_165243.jpg"><img src="../assets/images/posts/IMG_20131119_165243.jpg" width="300" height="225" /></a></p>
<p style="text-align: justify;"> Desde hace unos años la asociación <a href="http://ghandalf.org">GHANDALF</a>, una asociación para la difusión del software libre de la que soy socio fundador, organiza una charla en el IES Xulián Magariños. Estas charlas están orientadas a enseñarles a los alumnos que es el software libre y abrirles la puerta a un mundo que desconocen y sobre el que no es habitual que se enseñe en los actuales programas formativos.</p>
<p style="text-align: justify;">Este año he tenido la oportunidad de participar en esta charla y llevarla al terreno donde me muevo actualmente, la información geográfica. Después de liar a <a href="http://michogarcia.org">otro</a> <a href="http://xeoinquedos.wordpress.com">xeoinquedo</a>, preparamos una sesión de introducción a la información geográfica y al proyecto <a href="http://openstreetmap.org">OpenStreetMap</a>. Queríamos sobre todo transmitirles dos ideas: lo que aporta la componente geográfica a la información y la importancia de que esa información sea libre, igual que el software. Todo ello aderezado con una introducción a OpenStreetMap, un proyecto que aúna perfectamente esas dos ideas.</p>
<p style="text-align: justify;">Los alumnos, en este caso, pertenecían a dos grupos de un ciclo de formación profesional de informática y la verdad es que estuvieron muy atentos y participativos durante las aproximadamente dos horas y media que duró la jornada, lo cual resultó de lo más motivante también para nosotros.</p>
<p style="text-align: justify;">Finalmente agradecer a<a href="https://twitter.com/rvieito"> Roberto</a> la organización de la jornada y a la dirección del centro por la buena acogida y por darles a sus alumnos la oportunidad de conocer el software libre y el mundo de la información geográfica.</p>
<p style="text-align: justify;">
