---
layout: post
title: Openstreetmap en la UDC
date: 2014-07-06
categories:
- Geo
tags: [osm, openstreetmap, universidad]
status: publish
type: post

meta:
  _edit_last: '6'
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p style="text-align: justify;">Tenía pendiente esta entrada desde hace tiempo. El pasado mes de marzo tuve la oportunidad de colaborar en la asignatura <a href="http://cartolab.udc.es/asignaturas/CDIC/index.html">Cooperación para el Desarrollo en la Ingeniería Civil</a>, que se imparte en la <a href="http://caminos.udc.es/">Escuela de Caminos</a> de la <a href="http://udc.es">Universidad de A Coruña</a>.</p>
<p style="text-align: justify;">Dentro de esta asignatura se exploran diferentes herramientas que permitan mejorar la calidad de vida humana en los países en vías de desarrollo, siempre desde el punto de vista de la ingeniería civil y los campos en los que esta puede ayudar.</p>
<p style="text-align: justify;">Este año, de la mano de Alberto Varela, uno de los profesores de la asignatura y director del <a href="http://cartolab.udc.es">Laboratorio de Ingeniería Cartográfica</a> de la misma universidad (CartoLab) se diseñó una práctica para mostrar a los alumnos la importancia de los sistemas de información geográfica dentro del mundo de la cooperación. Dicha práctica consistía en <a href="http://cartolab.udc.es/asignaturas/CDIC/campanario.html">tratar de visibilizar una barriada de la ciudad de A Coruña</a>, "O Campanario", donde viven familias en riesgo de exclusión social. Gracias al uso de las tecnologías de información geográfica, se pretendía cartografiar toda esta zona en <a href="http://openstreetmap.org">Openstreetmap</a> de modo que al menos en este sentido se sacase el barrio de ese estado de invisibilidad urbana.</p>
<p style="text-align: justify;">Tuve la oportunidad de darles a los alumnos una <a href="http://xeoinquedos.eu/osm-slides/20140314_charla_udc.html#/">charla introductoria</a> a Openstreetmap, acompañada de un pequeño taller de digitalización en el que pudieron ver como incorporar datos a esta plataforma, y como ya me había pasado en <a href="http://psanxiao.com/hablando-de-ig-y-openstreetmap-en-el-ies-xulian-magarinos/">otras experiencias</a>, resulta muy motivante tratar de transmitir los conocimientos sobre esta plataforma y las oportunidades que ofrece la información geográfica.</p>
