---
layout: post
title: ! 'GeocampES 2014: Y ya van dos!'
date: 2014-08-11
categories:
- Geo
tags: [geocamp, eventos]
status: publish
type: post

meta:
  _edit_last: '6'
  _wpcom_is_markdown: '1'
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p>Después de la <a href="http://psanxiao.com/primera-geocamp-es/">experiencia del año pasado</a> y tras el relativo éxito que tuvo, este año volvimos a la carga con la segunda edición del evento.</p>
<p>Organizado nuevamente por un grupo de <a href="http://xeoinquedos.eu">xeoinquedos</a> y apoyados una vez por la estructura de la <a href="http://ghandalf.org">Asociación Ghandalf</a>, esta vez nos desplazamos hasta A Coruña. A <a href="http://casatomada.org">Casa Tomada</a> nos acogió con los brazos abiertos, para celebrar entre sus rehabilitados muros esta <em>geodesconferencia</em>, en la que compartir conocimiento alrededor del mundo de las tecnologías de información geográfica libres.</p>
<p>Como siempre, el protagonismo fue de los propios participantes, que plantearon diversas charlas sobre temas muy diferentes, desde tecnologías para <a href="http://bl.ocks.org/anonymous/raw/b0b6ecf496e4e83db62b/">crear mapas en web</a>, en dispositivos móviles, etc... hasta cómo montar un dispositivo de <a href="https://www.dropbox.com/sc/aibpf8dl3vx45m9/AADM6SA4ZphIDxlGVr2N19uta#lh:10-P1060297.JPG">toma de imágenes aéreas con un globo de helio</a>, pasando por <a href="http://montenoso.net/">la gestión de montes en mancomún</a> o <a href="http://delawen.github.io/geopackage-presentation/#/">estándares OGC</a>. Teniendo cabida incluso una ponencia de ESRI España sobre las iniciativas <em>open source</em> que está llevando a cabo esta compañía de software propietario.</p>
<p>También hubo momentos distendidos, al lado de una buena empanada gallega y las delicias ecológicas de las chicas de <a href="http://leiralonga.com">Leiralonga</a> y por supuesto un buen fin de fiesta con su correspondiente <a href="http://dl.dropboxusercontent.com/sc/aibpf8dl3vx45m9/AAClqMYJWmTBtUcPEL8UUDSga/17?token_hash=AAE6s8HRPuO_NoNjfNG33_weWZspheGlGcPwKxpjnFVx4w&amp;expiry=1407797672">queimada</a>.</p>
<p>Y como ya empieza a ser una tradición, al día siguiente se preparó una pequeña actividad de ocio para los participantes venidos de fuera y que aprovecharon para pasar el fin de semana por nuestras tierras. En esta ocasión se organizó un pequeño <a href="https://pbs.twimg.com/media/BqwwR81CMAAneCV.jpg:large">recorrido en bicicleta guiado</a> y con pequeñas paradas para descubrir algo de historia de la ciudad.</p>
<p>Dicen que no hay dos sin tres, así que ya estamos pensando cosas para la geocampES del año que viene, <strong>te la vas a perder?</strong>.</p>
