---
layout: post
title: '46:05'
date: 2014-05-10 16:49:58.000000000 +02:00
categories:
- Running
tags: [running]
status: publish
type: post

meta:
  _wp_old_slug: '4605'
  _edit_last: '6'
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p style="text-align: justify;">Hace tiempo que me aficioné al running y a participar en carreras populares los fines de semana. La verdad es que desde el principio fui bastante inconstante, solía entrenar habitualmente cuando tenía en mente participar en alguna carrera determinada, pero el resto del tiempo me costaba mantener la rutina de entrenar todas las semanas.</p>
<p style="text-align: justify;">Gran parte de esto seguramente era por la sensación de salir a correr solo. No es que no me guste, al contrario, salir a correr uno sólo te permite tener tiempo para pensar, reflexionar, etc... incluso para los que somos desarrolladores de software <a href="http://sextantegis.blogspot.com.es/2011/05/on-ultrarunning-gis-and-programming-on.html">hasta nos permite desarrollar o pensar en soluciones mientras corremos</a>.</p>
<p style="text-align: justify;">Sin embargo hay muchos días en los uno está cansado, hace mal tiempo o simplemente da pereza cambiarse y salir a correr. Esos días si al único que tienes que convencer es a ti mismo, pues es muy fácil quedarse en casa o hacer otras cosas. Desde principios de año, un poco para tratar de ser más constante, me apunté a <a href="http://www.nosportlimit.com">NoSportLimit</a>, un club deportivo de mi ciudad donde hay grupos de entrenamiento de natación, ciclismo y running, ya que es un club creado por triatletas.</p>
<p style="text-align: justify;">Las sensaciones desde entonces son muy buenas, correr en grupo es diferente, más motivante, te permite llegar más allá en tus propios límites, haces cosas diferentes, como series y esas cosas que te hacen sufrir más que cuando sales tú solo a trotar un rato, pero que luego se notan y mucho cuando compites.</p>
<p style="text-align: justify;">Además de eso como en cualquier otro grupo de personas con una pasión común, te permite hacer nuevos amigos, conocer otras rutinas y en definitiva pasártelo bien. Eso no quita que no tengas momentos también para salir a correr  y pensar en tus cosas. Si empiezas en esto del running y te gusta, yo sin duda te recomendaría apuntarte a un club o buscar un grupo de gente que entrene junta.</p>
<p style="text-align: justify;">La cifra que da título a este post, 46:05, es mi marca en los 10 kms. No es que sea una gran marca, todo es relativo, para mí sí lo es teniendo en cuenta que antes de apuntarme al club el mejor tiempo que había hecho con esos entrenos más inconstantes era de 53:10. Aunque mejorar tu marca siempre es motivante, lo es más compartir risas y buenos ratos con gente a la que le apasiona lo mismo que a ti todas las semanas.</p>
