---
layout: post
title: Cómo trabajan?
date: 2014-06-27
categories:
- General
tags: []
status: publish
type: post

meta:
  _edit_last: '6'
author:
  login: psanxiao
  email: psanxiao@gmail.com
  display_name: psanxiao
  first_name: ''
  last_name: ''
---
<p style="text-align: justify;">Siempre es curioso saber como otras personas hacen cosas a las que tú te enfrentas cada día. Desde hace tiempo tengo en mi rss el blog <a href="http://comotrabajan.com">comotrabajan.com</a>, en donde van publicando entrevistas con emprendedores. Son entrevistas sencillas que se centran en lo que hacen habitualmente para trabajar, cómo organizan el día, que herramientas utilizan, sin que aplicaciones no podrían vivir...</p>
<p style="text-align: justify;">La idea original viene de otro blog, <a href="http://lifehacker.com/">Lifehacker</a>, que tiene una <a href="http://lifehacker.com/tag/how-i-work">sección dedicada a este tipo de entrevistas</a> o casi memes. Lo cierto es que resultan muy interesantes y siempre se puede sacar alguna idea, descubrir alguna aplicación útil, etc..</p>
